# all big result files
results/*

# work in progress
wip/*

# all temp files
scripts/**/*.pyc

# genome FASTA files
data/**/*.fa

# TODO
TODO.md
checkpoint.csv
last_step_pred.ipynb
test_crash_before_prediction.csv
test_crash.py
pred_results.csv
